@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;900&display=swap');

body {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}